table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
th {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
td {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}
A:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: deepskyblue;
}
